In [1]:
import findspark
findspark.init()

from pyspark import  SparkContext
from pyspark.sql import SparkSession

spark_session = SparkSession\
    .builder\
    .master("spark://192.168.2.243:7077") \
    .appName("test")\
    .config("spark.executor.cores", 2)\
    .getOrCreate()

spark_context = spark_session.sparkContext

In [2]:
df1 = spark_session.read\
.option("header","true")\
.option("delimiter", "\t")\
.csv("hdfs://team-4-master:9000/1000genomes/All.chrX.LC54_GL.20101123_20110521.snp.low_coverage.genotypes_processed.vcf")

In [3]:
# Filter out others and only keep the SNP alleles data
df2 = df1.select("REF","ALT")

In [4]:
# Combine the two column so that now we have a column showing the mutation of the SNP
# e.g. mutated from a G to an A

df2.createOrReplaceTempView("df2")
df3 = spark_session.sql("SELECT CONCAT(REF, 'to',  ALT) as Mutation FROM df2")

In [5]:
# WE now can know which mutation is the most common one in this chromosome.
df4 = df3.select("Mutation").groupBy("Mutation").count().sort("count", ascending=False).show()

+--------+------+
|Mutation| count|
+--------+------+
|    GtoA|282532|
|    CtoT|279711|
|    TtoC|199767|
|    AtoG|197835|
|    CtoA| 71314|
|    GtoT| 70288|
|    CtoG| 57710|
|    GtoC| 57569|
|    TtoA| 55049|
|    AtoT| 54708|
|    AtoC| 50670|
|    TtoG| 50634|
+--------+------+

In [6]:
spark_context.stop()